<div class="contact-wrapper">
  <div class="headline">
    <h4 class="headline-intro">Contact</h4>
    <p class="headline-skills">Get in Touch</p>
  </div>
  <div class="row">
    <div class="col-md-6 contact">
      <h5 class="contact-headline">Get in Touch</h5>
      <div class="contact-info">
        <p class="contact-info-item"><i class="fa fa-map-marker contact-info-item__icon" aria-hidden="true"></i> Warsaw, Poland</p>
        <p class="contact-info-item"><i class="fa fa-envelope-o contact-info-item__icon" aria-hidden="true"></i> <a class="contact-info-item__link" href="">kamil@webheroes.io</a></p>
        <p class="contact-info-item"><i class="fa fa-phone contact-info-item__icon" aria-hidden="true"></i> <a class="contact-info-item__link" href="">+48 790 248 146</a></p>
      </div>
    </div>
    <div class="col-md-6 form"></div>
  </div>
</div>
