<div class="contact-wrapper">
  <app-headline [headline]="headline" [subHeadline]="subHeadline"></app-headline>
  <ngx-spinner>
    <p style="font-size: 20px; color: white">Sending message...</p>
  </ngx-spinner>
  <div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-4 contact">
      <h5 class="contact-headline">Get in Touch</h5>
      <div class="contact-info">
        <p class="contact-info-item"><i class="fa fa-map-marker contact-info-item__icon" aria-hidden="true"></i> Warsaw, Poland</p>
        <p class="contact-info-item"><i class="fa fa-envelope-o contact-info-item__icon" aria-hidden="true"></i> <a class="contact-info-item__link" href="">kontakt@kamiljarzab.pl</a></p>
        <p class="contact-info-item"><i class="fa fa-phone contact-info-item__icon" aria-hidden="true"></i> <a class="contact-info-item__link" href="">+48 790 248 146</a></p>
      </div>
    </div>

    <div class="col-md-4 form">
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form" *ngIf="!messageSent">
        <mat-form-field   appearance="fill">
          <mat-label>Your Name</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="form.get('name').invalid">Name is required</mat-error>
        </mat-form-field>
        <mat-form-field  appearance="fill">
          <mat-label>Your email address</mat-label>
          <input matInput formControlName="email" type="email" required>
            <mat-error *ngIf="!form.get('email').errors?.email && form.get('email').invalid">Email address is required</mat-error>
            <mat-error *ngIf="form.get('email').errors?.email">Email address is invalid</mat-error>
        </mat-form-field>
        <mat-form-field  appearance="fill">
          <mat-label>Your message</mat-label>
          <textarea 
            matInput 
            formControlName="message"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="4"
            cdkAutosizeMaxRows="10"
            required
          ></textarea>
          <mat-error *ngIf="form.get('message').invalid">Message is required</mat-error>
        </mat-form-field>
        <button mat-raised-button type="submit" class="submit-button">Send message</button>
      </form>
      <div class="form-success" *ngIf="messageSent">
        <p class="form-success__text" >
          Message sent
        </p>
        <img class="form-success__image" src="https://media.giphy.com/media/xUPJPp6hLXcn4PbOBG/giphy.gif" alt="postman gif">  
      </div>

    </div>

    <div class="col-md-2"></div>
  </div>

</div>
