@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";



.contact-wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: white;
  padding: 30px 70px;
  box-sizing: border-box;

  @include large {
    padding-top: 60px;
  };
}

.row {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;

  @include large {
    position: static;
    top: unset;
    transform: none;

    margin-top: 50px;
  }

}


.contact-headline {
  border-left: 2px solid $mainColor;
  padding: 5px 0 5px 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 19px;
}

.contact-info {
  box-sizing: border-box;
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
}

.contact-info-item {
  padding: 5px 0;
}

.contact-info-item__icon {
  color: $mainColor;
  font-size: 30px;
  padding-right: 20px;
}

.contact-info-item__link {
  color: black;
}


.form {
  
  width: 300px;

  mat-form-field {
    width: 100%;
  }

  @include large {
    margin-top: 50px;
  }

}

.submit-button {
  background-color: $mainColor;
  color: white;
}
