<div class="resume-wrapper">
  <app-headline [headline]="headline" [subHeadline]="subHeadline"></app-headline>

  <div class="resume">
    <div class="row">
      <div class="col-sm-4 education">
        <h5 class="resume-headline">Education</h5>
        <app-resume-education [education]="educationHistory"></app-resume-education>
      </div>
      <div class="col-sm-4">
        <h5 class="resume-headline">Experience</h5>
        <app-resume-experience [experienceHistory]="experienceHistory"></app-resume-experience>
      </div>
      <div class="col-sm-4">
          <h5 class="resume-headline">Skills</h5>
          <div class="skills-wrapper">

            <div class="skill-item">
              <p class="skill-item__name">Programming</p>
                <ul class="skills-list">
                  <li class="skills-list__item">Javascript</li>
                  <li class="skills-list__item">ES6</li>
                  <li class="skills-list__item">Typescript</li>
                  <li class="skills-list__item">Angular</li>
                  <li class="skills-list__item">Ionic</li>
                  <li class="skills-list__item">Node.js</li>
                  <li class="skills-list__item">Express.js</li>
                  <li class="skills-list__item">jQuery</li>
                  <li class="skills-list__item">mongoDB</li>
                  <li class="skills-list__item">cordova</li>
                </ul>
            </div>

            <div class="skill-item">
              <p class="skill-item__name">Programming(basics)</p>
                <ul class="skills-list">
                  <li class="skills-list__item">React</li>
                  <li class="skills-list__item">React Native</li>
                  <li class="skills-list__item">Redux</li>
                  <li class="skills-list__item">Vue.js</li>
                  <li class="skills-list__item">Unity</li>
                  <li class="skills-list__item">Php</li>
                  <li class="skills-list__item">Laravel</li>
                  <!-- <li class="skills-list__item">Django</li> -->
                  <li class="skills-list__item">C#</li>
                  <!-- <li class="skills-list__item">C++</li> -->
                </ul>
            </div>

            <div class="skill-item">
              <p class="skill-item__name">Learning</p>
                <ul class="skills-list">
                  <li class="skills-list__item">React</li>
                </ul>
            </div>

            <div class="skill-item">
              <p class="skill-item__name">Front-end Stuff</p>
                <ul class="skills-list">
                  <li class="skills-list__item">Css3</li>
                  <li class="skills-list__item">Preprocessors - Sass/Less</li>
                  <li class="skills-list__item">HTML5</li>
                  <li class="skills-list__item">Bootstrap</li>
                  <li class="skills-list__item">RWD</li>
                </ul>
            </div>

            <div class="skill-item">
                <p class="skill-item__name">Templates</p>
                  <ul class="skills-list">
                    <li class="skills-list__item">Twig</li>
                    <li class="skills-list__item">Smarty</li>
                  </ul>
            </div>

            <div class="skill-item">
                <p class="skill-item__name">CMS</p>
                  <ul class="skills-list">
                    <li class="skills-list__item">Wordpress</li>
                    <li class="skills-list__item">Shopware</li>
                    <li class="skills-list__item">Lime Survey</li>
                  </ul>
              </div>

            <div class="skill-item">
                <p class="skill-item__name">Automatization Tools</p>
                <ul class="skills-list">
                  <li class="skills-list__item">Webpack</li>
                  <li class="skills-list__item">Gulp</li>
                  <li class="skills-list__item">Grunt</li>
                </ul>
            </div>

            <div class="skill-item">
                <p class="skill-item__name">Others</p>
                <ul class="skills-list">
                  <li class="skills-list__item">Git</li>
                  <li class="skills-list__item">Docker</li>
                  <li class="skills-list__item">Bitbucket</li>
                  <li class="skills-list__item">Jira</li>
                  <li class="skills-list__item">Mantis</li>
                  <li class="skills-list__item">Linux</li>
                  <li class="skills-list__item">Remote work (:</li>

                </ul>
            </div>

            <div class="skill-item">
                <p class="skill-item__name">Graphic</p>
                <ul class="skills-list">
                  <li class="skills-list__item">Photoshop</li>
                  <li class="skills-list__item">Adobe XD</li>
                </ul>
            </div>
            
          </div>
      </div>
    </div>
  </div>
</div>
