<div class="resume-wrapper">
  <div class="headline">
    <h4 class="headline-intro">Resume</h4>
    <p class="headline-skills">1 year of experience</p>
  </div>
  <div class="resume">
    <div class="row">
      <div class="col-md-4 education">
        <h5 class="resume-headline">Education</h5>
        <div class="history education-history">
          <div class="history-item">
            <div class="history-item">
              <p class="history-item__year">2016 - Current</p>
              <div class="history-item-wrapper">
                <p class="history-item__headline">IT Studies</p>
                <p class="history-item__short">~Wyższa Szkoła Technologii Informatycznych w Warszawie</p>
                <p class="history-item__description">I gain the fundamental knowledge of how the web works and gain a working knowledge of the three foundational languages that power each and every website: HTML, CSS and JavaScript.</p>
              </div>
            </div>
            <div class="history-item">
              <p class="history-item__year">2016</p>
              <div class="history-item-wrapper">
                <p class="history-item__headline">Front-End Web Developer Nanodegree</p>
                <p class="history-item__short">~Udacity</p>
                <p class="history-item__description">I gain the knowledge how HTML5 API works. I have learned how to work efficiently using ES6, Webpack, Git and Gulp.</p>
              </div>
            </div>
            <p class="history-item__year">2016</p>
            <div class="history-item-wrapper">
              <p class="history-item__headline">Front-End Web Developer Nanodegree</p>
              <p class="history-item__short">~Udacity</p>
              <p class="history-item__description">I gain the fundamental knowledge of how the web works and gain a working knowledge of the three foundational languages that power each and every website: HTML, CSS and JavaScript.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h5 class="resume-headline">Experience</h5>
        <div class="history experience-history">
          <div class="experience-item">
            <div class="experience-item">
              <p class="experience-item__year">Aug 2017 - Current</p>
              <div class="experience-item-wrapper">
                <p class="experience-item__headline">Junior Front-end Developer</p>
                <p class="experience-item__short">~Cravtt</p>
                <p class="experience-item__description">I gain the fundamental knowledge of how the web works and gain a working knowledge of the three foundational languages that power each and every website: HTML, CSS and JavaScript.</p>
              </div>
            </div>
            <div class="experience-item">
              <p class="experience-item__year">Feb 2017 - July 2017</p>
              <div class="experience-item-wrapper">
                <p class="experience-item__headline">Front-end Developer</p>
                <p class="experience-item__short">~Neovum</p>
                <p class="experience-item__description">I gain the knowledge how HTML5 API works. I have learned how to work efficiently using ES6, Webpack, Git and Gulp.</p>
              </div>
            </div>
            <p class="experience-item__year">2016 - Current</p>
            <div class="experience-item-wrapper">
              <p class="experience-item__headline">Front-end Developer </p>
              <p class="experience-item__short">~Freelancer</p>
              <p class="experience-item__description">I gain the fundamental knowledge of how the web works and gain a working knowledge of the three foundational languages that power each and every website: HTML, CSS and JavaScript.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">p</div>
    </div>
  </div>
</div>
