<div class="resume-wrapper">
  <div class="headline">
    <h4 class="headline-intro">Resume</h4>
    <p class="headline-skills">1 year of experience</p>
  </div>
  <div class="resume">
    <div class="row">
      <div class="col-sm-4 education">
        <h5 class="resume-headline">Education</h5>
        <div class="history education-history">
          <div class="history-item">
            <div class="history-item">
              <p class="history-item__year">2016 - Current</p>
              <div class="history-item-wrapper">
                <p class="history-item__headline">IT Studies</p>
                <p class="history-item__short">~Wyższa Szkoła Technologii Informatycznych w Warszawie</p>
                <p class="history-item__description">I gain knowledge about math, programming and how computer is constructed and how it works.</p>
              </div>
            </div>
            <div class="history-item">
              <p class="history-item__year">2016</p>
              <div class="history-item-wrapper">
                <p class="history-item__headline">Front-End Web Developer Nanodegree</p>
                <p class="history-item__short">~Udacity</p>
                <p class="history-item__description">I obtained the knowledge how HTML5 API works. I have learned how to work efficiently using ES6, Webpack, Git and Gulp.</p>
              </div>
            </div>
            <p class="history-item__year">2016</p>
            <div class="history-item-wrapper">
              <p class="history-item__headline">Front-End Web Developer Nanodegree</p>
              <p class="history-item__short">~Udacity</p>
              <p class="history-item__description">I obtained the fundamental knowledge of how the web works and got a working knowledge of the three foundational languages that power each and every website: HTML, CSS and JavaScript.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <h5 class="resume-headline">Experience</h5>
        <div class="history experience-history">
          <div class="experience-item">
            <div class="experience-item">
              <p class="experience-item__year">Aug 2017 - Current</p>
              <div class="experience-item-wrapper">
                <p class="experience-item__headline">Junior Front-end Developer</p>
                <p class="experience-item__short">~Cravtt</p>
                <p class="experience-item__description">
                  Landing pages, wordpress, mailings.
                </p>
              </div>
            </div>
            <div class="experience-item">
              <p class="experience-item__year">Feb 2017 - July 2017</p>
              <div class="experience-item-wrapper">
                <p class="experience-item__headline">Front-end Developer</p>
                <p class="experience-item__short">~Neovum</p>
                <p class="experience-item__description">
                  E-commerce templates, front-end applications layer,
                  landing pages, mailings, wordpress.
                </p>
              </div>
            </div>
            <p class="experience-item__year">2016 - Current</p>
            <div class="experience-item-wrapper">
              <p class="experience-item__headline">Front-end Developer </p>
              <p class="experience-item__short">~Freelancer</p>
              <p class="experience-item__description">
                Landing pages, wordpress templates,
                website maintenance, mailings, creating responsive views,
                scripts.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <h5 class="resume-headline">Skills</h5>
          <div class="skills-wrapper">
            <div class="skill-item">
              <p class="skill-item__name">HTML5</p>
              <div class="skill-item-container">
                <div class="skill-item-percentage" data-percent="80%"></div>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-item__name">CSS3</p>
              <div class="skill-item-container">
                <div class="skill-item-percentage" data-percent="85%"></div>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-item__name">SASS</p>
              <div class="skill-item-container">
                <div class="skill-item-percentage" data-percent="85%"></div>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-item__name">Javascript</p>
              <div class="skill-item-container">
                <div class="skill-item-percentage" data-percent="92%"></div>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-item__name">AngularJS</p>
              <div class="skill-item-container">
                <div class="skill-item-percentage" data-percent="32%"></div>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-item__name">jQuery</p>
              <div class="skill-item-container">
                <div class="skill-item-percentage" data-percent="80%"></div>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-item__name">Wordpress</p>
              <div class="skill-item-container">
                <div class="skill-item-percentage" data-percent="35%"></div>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-item__name">PHP</p>
              <div class="skill-item-container">
                <div class="skill-item-percentage" data-percent="25%"></div>
              </div>
            </div>
            <div class="skill-item">
              <p class="skill-item__name">Photoshop</p>
              <div class="skill-item-container">
                <div class="skill-item-percentage" data-percent="75%"></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
