<div class="project-details" id="project-details">
  <div class="menu">
    <!-- <i class="fa fa-chevron-left menu__item" aria-hidden="true" [ngStyle]="{'visibility': isFirst === true ? 'hidden' : 'visible'}" (click)="changeToLeftPortfolio()"></i> -->
    <i class="fa fa-times menu__item" aria-hidden="true" (click)="close()"></i>
    <!-- <i class="fa fa-chevron-right menu__item" aria-hidden="true" [ngStyle]="{'visibility': isLast === true ? 'hidden' : 'visible'}" (click)="changeToRightPortfolio()"></i> -->
  </div>
  <div class="project-details-wrapper">
    <h3 class="project-name">{{project.projectName}}</h3>

    <div class="row">
      <div class="col-md-8">
        <img class="item-content__img" src="{{project.projectImages[0]}}" alt="">
      </div>
      <div class="col-md-4">
        <div class="description">
          <h5 class="description__headline">Description</h5>
          <p class="description-name description-item"><i class="fa fa-user description-item__icon" aria-hidden="true"></i>{{project.client}}</p>
          <p class="description-website description-item"><i class="fa fa-chrome description-item__icon" aria-hidden="true"></i><a href="{{project.siteUrl}}" target="_blank">Live version</a></p>
          <p class="description-date description-item"><i class="fa fa-calendar description-item__icon" aria-hidden="true"></i>{{project.date}}</p>
          <p class="description-text">{{project.projectDescription}}</p>
        </div>
        <div class="technology">
          <h5 class="description__headline">Technology</h5>
          <ul class="technology-list">
            <li class="technology-list__item" *ngFor="let technology of project.technologies">{{technology}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
