<div class="row">
    <div class="menu">
      <div class="image">
        <img class="image__item" src="assets/img/photo.jpg" alt="">
      </div>
      <div class="name">Kamil <br>Jarząb</div>
      <div class="section-list">
        <ul class="section-list-unordered">
          <li class="section-list__item" (click)='chosedSection(home)'>
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="section-list__item--text">Home</span>
          </li>
          <li class="section-list__item" (click)='chosedSection(aboutMe)'>
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            <span class="section-list__item--text">About Me</span>
          </li>
          <li class="section-list__item" (click)='chosedSection(resume)'>
            <i class="fa fa-id-card-o" aria-hidden="true"></i>
            <span class="section-list__item--text">Resume</span>
          </li>
          <li class="section-list__item" (click)='chosedSection(portfolio)'>
            <i class="fa fa-briefcase" aria-hidden="true"></i>
            <span class="section-list__item--text">Portfolio</span>
          </li>
          <li class="section-list__item" (click)='chosedSection(blog)'>
            <i class="fa fa-book" aria-hidden="true"></i>
            <span class="section-list__item--text">Blog</span>
          </li>
          <li class="section-list__item" (click)='chosedSection(contact)'>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <span class="section-list__item--text">Contact</span>
          </li>
        </ul>
      </div>
    </div>
</div>
