@import "../../assets/scss/variables";
@import "../../assets/scss/breakpoints";


@include scroll;

.menu {
  max-height: 100vh;
  overflow: scroll;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 30px 0px;

  font-family: 'Cormorant', serif;
}

.image__item {
  width: auto;
  height: 100px;
  margin: 0 auto;
  display: block;

  @include large {
    width: 80%;
    height: auto;
  };
}

.name {
  margin: 20px 0;
  text-align: center;
  font-size: 25px;
  line-height: 25px;
  color: $mainColor;
}

.section-list-unordered {
  list-style: none;
  padding: 0;
}

.section-list__item {

  i {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
  }

  display: block;
  opacity: 0.68;
  text-align: center;

  border: 1px solid rgb(245, 245, 245);
  border-bottom: none;
  padding: 15px 0;
  color: $mainColor;

  &:hover {
    cursor: pointer;
    background: lighten($mainColor, 40%);
    opacity: 1;
  }
}

.section-list__item--text {
  color: black;
  font-size: 16px;
}
