<div class="blog-wrapper">
  <div class="headline">
    <h4 class="headline-intro">Blog</h4>
    <p class="headline-skills">My recent posts</p>
  </div>
  <div class="blog-posts">
    <div class="row">
      <a href="" target="_blank">
        <div class="col-md-6 blog-post-item">
          <div class="blog-post-item-outer">
            <div class="post-item__image"></div>
            <div class="post-item-details">
              <div class="post-item-date">
                <p class="post-item-date__day">05</p>
                <p class="post-item-date__month">May</p>
              </div>
              <p class="post-item-details__category">javascript</p>
              <h5 class="post-item-details__title">nowowosci w es5 nwoso wnosno</h5>
            </div>
          </div>
        </div>
      </a>
      <a href="">
        <div class="col-md-6 blog-post-item">
          <div class="blog-post-item-outer">
            <div class="post-item__image"></div>
            <div class="post-item-details">
              <div class="post-item-date">
                <p class="post-item-date__day">05</p>
                <p class="post-item-date__month">May</p>
              </div>
              <p class="post-item-details__category">javascript</p>
              <h5 class="post-item-details__title">nowowosci w es5 nwoso wnosno</h5>
            </div>
          </div>
        </div>
      </a>
      <a href="">
        <div class="col-md-6 blog-post-item">
          <div class="blog-post-item-outer">
            <div class="post-item__image"></div>
            <div class="post-item-details">
              <div class="post-item-date">
                <p class="post-item-date__day">05</p>
                <p class="post-item-date__month">May</p>
              </div>
              <p class="post-item-details__category">javascript</p>
              <h5 class="post-item-details__title">nowowosci w es5 nwoso wnosno</h5>
            </div>
          </div>
        </div>
      </a>
      <a href="">
        <div class="col-md-6 blog-post-item">
          <div class="blog-post-item-outer">
            <div class="post-item__image"></div>
            <div class="post-item-details">
              <div class="post-item-date">
                <p class="post-item-date__day">05</p>
                <p class="post-item-date__month">May</p>
              </div>
              <p class="post-item-details__category">javascript</p>
              <h5 class="post-item-details__title">nowowosci w es5 nwoso wnosno</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
