<div class="grid row">   
  <ng-container  *ngFor="let project of projects; let i = index">
    <div class="item {{project.getClassName()}}" (click)="showProject(project, i)">
      <div class="item-content">
        <img class="item-content__img" src="{{project.cover}}" alt="">
        <div class="item-content-overlay">
          <h5 class="item-content-overlay__name">{{project.projectName}}</h5>
          <div class="item-content-overlay-menu">
            <p class="item-content-overlay-menu__name">{{project.projectType}}</p>
            <i class="devicon-javascript-plain item-content-overlay-menu__icon"></i>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>