@import "../../../assets/scss/variables";


.container {
  width: 100%;
}

.about-me-wrapper {
  width: 100%;
  min-height: 100%;
  background: white;
  padding: 30px;
  box-sizing: border-box;
}

.headline {
  text-align: center;
}

.bio {

}

.bio-img {

}

.bio-img_item {
  width: 100%;
  height: auto;
}

.bio-info {

}

.bio-info__entry {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}
