@import "../../../assets/scss/variables";


.container {
  width: 100%;
}

.about-me-wrapper {
  width: 100%;
  min-height: 100%;
  background: white;
  padding: 30px;
  box-sizing: border-box;
}

.headline {
  text-align: center;
  margin-bottom: 45px;
}

.headline-intro {
  color: rgb(238, 238, 238);
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 0px;
}

.headline-skills {
  background: $mainColor;
  padding: 2px 5px;
  margin-left: 100px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
}

.bio {

}

.bio-img {

}

.bio-img_item {
  width: 100%;
  height: auto;
}

.bio-info {

}

.bio-info__entry {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
}

.bio-info__text {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 20px;
  font-weight: 300;
}

.bio-details {

}

.bio-details__category {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border-bottom: 2px solid $mainColor;
}

.bio-details__item {
  margin-left: 10px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.bio-details-social {
  margin-top: 25px;
  display: flex;
}

.bio-details-social__item {
}

.bio-details-social-link {
  color: black;
}

.section-headline {
  border-left: 2px solid $mainColor;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.services {
  box-sizing: border-box;
  padding: 0 20px;
}

.service-item {

}

.service-item__img {
  width: auto;
  height: 120px;
  margin: auto;
  display: block;
}

.service-item__name {
  width: 90%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.service-item__description {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}
