<div class="about-me-wrapper">
  <div class="headline">
    <h4 class="headline-intro">About Me</h4>
    <p class="headline-skills">young, ambitious, ready for new challenges</p>
  </div>
  <div class="bio">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 bio-img">
          <img class="bio-img_item" src="assets/img/photo.jpg" alt="">
        </div>
        <div class="bio-info col-sm-4">
          <p class="bio-info__entry">Front-end developer
            <!-- @<br> Cravtt -->
          </p>
          <p class="bio-info__text">
            My name is Kamil. I am and Webdeveloper mostly focused on Front-end developer.
            My goal is developing successful web ann mobile applications, that benefit me and the community as well.
          </p>
          <p class="bio-info__text">
            I am currently focused on work, studies and learning game development.
          </p>
        </div>
        <div class="col-sm-4 bio-details">
          <p class="bio-details__age"><span class="bio-details__category">Age:</span><span class="bio-details__item">26</span></p>
          <p class="bio-details__city"><span class="bio-details__category">City:</span><span class="bio-details__item">Warsaw</span></p>
          <p class="bio-details__residence"><span class="bio-details__category">Residence:</span><span class="bio-details__item">Poland</span></p>
          <p class="bio-details__email"><span class="bio-details__category">E-mail:</span><span class="bio-details__item">jarzbkamil@gmail.com</span></p>
          <p class="bio-details__phone"><span class="bio-details__category">Phone:</span><span class="bio-details__item">+48 790 248 146</span></p>
          <p class="bio-details__skype"><span class="bio-details__category">Skype:</span><span class="bio-details__item">bogurodzic</span></p>
          <div class="bio-details-social">
            <div class="bio-details-social__item linkedin">
              <a class="bio-details-social-link" href="https://www.linkedin.com/in/kamil-jarz%C4%85b-718177114?trk=hp-identity-name" target="_blank"><span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
              </span></a>
            </div>
            <div class="bio-details-social__item facebook">
              <a class="bio-details-social-link" href="#" target="_blank"><span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
              </span></a>
            </div>
            <div class="bio-details-social__item github">
              <a class="bio-details-social-link" href="https://github.com/Bogurodzic" target="_blank"><span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x"></i>
              </span></a>
            </div>
            <!-- <div class="bio-details-social__item blog">
              <a class="bio-details-social-link" href="http://kamiljarzab.pl/blog/" target="_blank"><span class="fa-stack fa-lg">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-book fa-stack-1x"></i>
              </span></a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="services">
    <h3 class="section-headline">Services</h3>
    <div class="container">
      <div class="service row">
        <div class="service-item col-sm-6 col-lg-3">
          <img src="" alt="" class="service-item__img" src="assets/img/service-webdevelopment.png">
          <p class="service-item__name">Web Development</p>
          <p class="service-item__description">
            I build dynamic and reliable sites that meet your needs.
            Create a website from scratch or basing on your graphic project and requirements.
            My offer includes porting your legacy website to a new modern solutions.
          </p>
        </div>
        <div class="service-item col-sm-6 col-lg-3">
          <img src="" alt="" class="service-item__img" src="assets/img/service-webdevelopment.png">
          <p class="service-item__name">Mobile App Development</p>
          <p class="service-item__description">
            I build dynamic and reliable sites that meet your needs.
            Create a website from scratch or basing on your graphic project and requirements.
            My offer includes porting your legacy website to a new modern solutions.
          </p>
        </div>
        <div class="service-item col-sm-6 col-lg-3">
          <img src="" alt="" class="service-item__img" src="assets/img/service-responsive.png">
          <p class="service-item__name">Responsive Web Design</p>
          <p class="service-item__description">
            Your site will look amazing no matter what type of device will be used to view it.
            My designs dynamically adjust for desktop, tablet and smartphone users.
          </p>
        </div>
        <div class="service-item col-sm-6 col-lg-3">
          <img src="" alt="" class="service-item__img" src="assets/img/service-site-maintenance.png">
          <p class="service-item__name">Site Maintenance</p>
          <p class="service-item__description">
            I am able to take care of your website, modernize it according to your wish, update it and improve the website structure,
            or deal with encountered problems.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="background" [ngStyle]="{'height': backgroundHeight + 'px'}"></div>

  <!-- <div class="skills">
    <h3 class="section-headline">Skills</h3>
    <div class="container">
      <div class="skills row">
        <div class="col-sm-2 col-md-2 skill skill-angular">
          <i class="devicon-angularjs-plain-wordmark"></i>
        </div>
        <div class="col-sm-2 col-md-2 skill">
          <i class="devicon-jquery-plain-wordmark"></i>
        </div>
        <div class="col-sm-2 col-md-2 skill">
          <i class="devicon-javascript-plain"></i>
        </div>
        <div class="col-sm-2 col-md-2 skill">
          <i class="devicon-css3-plain-wordmark"></i>
        </div>
        <div class="col-sm-2 col-md-2 skill">
          <i class="devicon-sass-original"></i>
        </div>
        <div class="col-sm-2 col-md-2 skill">
          <i class="devicon-bootstrap-plain-wordmark"></i>
        </div>

        <div class="col-sm-2 col-md-2 skill">
          <i class="devicon-html5-plain-wordmark"></i>
        </div>
        <div class="col-sm-2 col-md-2 skill">
          <i class="devicon-wordpress-plain-wordmark"></i>
        </div>
        <div class="col-sm-2 col-md-2 skill">
          <i class="devicon-php-plain"></i>
        </div>
        <div class="col-sm-2 col-md-2 skill">
          <i class="devicon-webpack-plain-wordmark"></i>
        </div>
        <div class="col-sm-2 col-md-2 skill">
          <i class="devicon-gulp-plain"></i>
        </div>
        <div class="col-sm-2 col-md-2 skill">
          <i class="devicon-react-original-wordmark"></i>
        </div>


      </div>
    </div>
  </div> -->
</div>
