@import "../../../assets/scss/variables";
@import "../../../assets/scss/breakpoints";


.container {
  width: 100%;
}

.about-me-wrapper {
  width: 100%;
  min-height: 100%;
  background: white;
  padding: 30px;
  box-sizing: border-box;

  @include large {
    padding-top: 60px;
  };
}

.headline {
  text-align: center;
  margin-bottom: 45px;
}

.headline-intro {
  color: rgb(238, 238, 238);
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 0px;

  @include large {
    font-size: 40px;
  };
}

.headline-skills {
  background: $mainColor;
  padding: 2px 5px;
  margin-left: 100px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;

  @include large {
    padding: 1px 3px;
    font-size: 12px;
  };
}

.bio {

}

.bio .container {
  padding-left: 50px;
  padding-right: 50px;

  @include large {
    padding-left: 10px;
    padding-right: 10px;
  };
}

.bio-img {

}

.bio-img_item {
  width: 100%;
  height: auto;

  @include medium {
    width: 50%;
    margin-bottom: 15px;
  };

  @include small {
    width: 80%;
  };
}

.bio-info {

}

.bio-info__entry {
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;

  @include large {
    font-size: 16px;
  };

  @include medium {
    font-size: 18px;
  };
}

.bio-info__text {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  font-weight: 300;

  @include large {
    font-size: 12px;
  };

  @include medium {
    font-size: 14px;
  };
}

.bio-details {

}

.bio-details__category {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border-bottom: 2px solid $mainColor;

  @include large {
    font-size: 12px;
  };

  @include medium {
    font-size: 14px;
  };
}

.bio-details__item {
  margin-left: 15px;
  font-size: 16px;
  font-family: 'Cormorant', serif;
  font-weight: 300;

  @include large {
    font-size: 14px;
  };

  @include medium {
    font-size: 16px;
  };
}

.bio-details-social {
  margin-top: 25px;
  display: flex;
}

.bio-details-social__item {
}

.bio-details-social-link {
  color: black;

  &:hover {
    color: $mainColor;
  }
}

.section-headline {
  border-left: 2px solid $mainColor;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.service {
  box-sizing: border-box;
  padding: 0 20px;

  @include medium {
    padding: 0;
  };
}

.service-item {

}

.service-item__img {
  width: auto;
  height: 120px;
  margin: auto;
  display: block;

  @include large {
    height: 100px;
  };
}

.service-item__name {
  width: 90%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;

  @include large {
    font-size: 14px;
  };


}

.service-item__description {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;

  @include large {
    font-size: 12px;
  };
}

.skills {
  @include medium {
    display: flex;
    flex-wrap: wrap;
  };
}

.skill {
  font-size: 65px;
  text-align: center;

  @include medium {
    width: 16%;
  };

  @include small {
    width: 33%;
  };

  &:hover {
    color: $mainColor;
  }
}

.skill-angular {
  //font-size: 65px;
}
