<div class="about-me-wrapper">
  <div class="headline">
    <h4 class="headline-intro">About Me</h4>
    <p class="headline-skills">skill 1, skill 2, skill 3</p>
  </div>
  <div class="bio">
    <div class="container">
      <div class="row">
        <div class="col-md-4 bio-img">
          <img class="bio-img_item" src="assets/img/photo.jpg" alt="">
        </div>
        <div class="bio-info col-md-4">
          <p class="bio-info__entry">I am coś tam coś tam coś tam</p>
          <p>
            Turkey shoulder swine fatback brisket doner short ribs sirloin biltong.
            Bresaola corned beef ham hock, hamburger porchetta strip steak tongue jerky short ribs.
            Sausage tri-tip turducken, beef ribs sirloin doner venison ball tip ham pork belly jowl pork loin.
          </p>
          <p>
            Turkey shoulder swine fatback brisket doner short ribs sirloin biltong.
            Bresaola corned beef ham hock, hamburger porchetta strip steak tongue jerky short ribs.
            Sausage tri-tip turducken, beef ribs sirloin doner venison ball tip ham pork belly jowl pork loin.
          </p>
        </div>
        <div class="col-md-4 bio-details">
          <p class="bio-details__age"><span class="bio-details__category">Age:</span></p>
          <p class="bio-details__residence"><span class="bio-details__category">Residence:</span></p>
          <p class="bio-details__city"><span class="bio-details__category">Address:</span></p>
          <p class="bio-details__email"><span class="bio-details__category">e-mail:</span></p>
          <p class="bio-details__phone"><span class="bio-details__category">Phone:</span></p>
          <p class="bio-details__skype"><span class="bio-details__category">Skype:</span></p>
          <div class="bio-details-social"><span class="bio-details__category"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
