@import "../assets/scss/breakpoints";
@import "../assets/scss/variables";


.container-fluid {
}



.col-md-2 {
  width: 150px;

  @include large {
    width: 70%;
    display: none;
  };
}

.menu-wrapper {

}

.col-md-10 {
  width: calc(100% - 150px);
  padding: 0;


  @include large {
    width: 100%;
  };
}

.menu {
  height: 50px;
  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid lighten(black, 80%);
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.menu-item {
  padding-right: 30px;
  font-size: 30px;

  &:hover {
    cursor: pointer;
    color: $mainColor;
  }
}

.menu_name {
  padding-left: 30px;
  margin: 0;
  font-family: 'Cormorant', serif;
  font-size: 20px;
}
