<base href="/">
<div class="container-fluid">
  <div class="row">
    <div class="col-12 menu">
      <p class="menu_name">Kamil Jarząb</p>
      <i class="fa fa-bars menu-item" aria-hidden="true" (click)="toggleMenu()"></i>
    </div>
    <div class="col-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2" id="menu">
            <app-menu ></app-menu>
          </div>
          <div class="col-md-10">
            <app-section-display [chosedSection]="section"></app-section-display>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
