<div class="portfolio-wrapper">
  <div class="headline">
    <h4 class="headline-intro">Portfolio</h4>
    <p class="headline-skills">My Best Work</p>
  </div>
  <div class="portfolio-categories">
    <ul class="portfolio-categories-list">
      <li class="portfolio-categories-list__item">All</li>
      <li class="portfolio-categories-list__item">Landing Pages</li>
      <li class="portfolio-categories-list__item">Javascript Apps</li>
      <li class="portfolio-categories-list__item">Angular</li>
    </ul>
  </div>



  <div class="grid">
    <div class="item" data-foo>
      <div class="item-content">
        <!-- Safe zone, enter your custom markup -->
        This can be anything.
        <!-- Safe zone ends -->
      </div>
    </div>
  </div>

</div>
