<div class="portfolio-wrapper">
  <app-portfolio-details [hidden]="isDetailsHidden" (exit)="onExit()" (left)="onLeft()" (right)="onRight()" [detail]="chosedPortfolio" [isFirst]="chosedPortfolioFirst" [isLast]="chosedPortfolioLast"></app-portfolio-details>

  <div class="headline">
    <h4 class="headline-intro">Portfolio</h4>
    <p class="headline-skills">My Best Work</p>
  </div>
  <div class="portfolio-categories">
    <ul class="portfolio-categories-list">
      <li class="portfolio-categories-list__item portfolio-categories-list__item--highlited"  (click)="filterAll()">All</li>
      <li class="portfolio-categories-list__item" (click)="filterLp()">Landing Pages</li>
      <li class="portfolio-categories-list__item" (click)="filterJs()">Javascript Apps</li>
      <li class="portfolio-categories-list__item" (click)="filterAng()">Angular</li>
    </ul>
  </div>

  <div class="grid row">

    <ng-container  *ngFor="let project of projects; let i = index">
      <div class="item {{project.category}}" (click)="showProject(project, i)">
        <div class="item-content">
          <div class="item-content__img" [ngStyle]="{'background': '#fff url(' + project.projectImage + ')'}"></div>
          <div class="item-content-overlay">
            <h5 class="item-content-overlay__name">{{project.projectName}}</h5>
            <div class="item-content-overlay-menu">
              <p class="item-content-overlay-menu__name">{{project.projectType}}</p>
              <i class="devicon-javascript-plain item-content-overlay-menu__icon"></i>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </div>

</div>
